@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #171820;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Georama', sans-serif;
}

.container {
  height: 95%;
  width: 95%;
  border: 2px solid orangered;
  margin: auto;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

/* ------------------------------
// HEADING */
.heading {
  font-family: 'Gugi', cursive;
  font-weight: 400;
  font-size: 10rem;
  color: aliceblue;
  width: 93%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  border: 2px solid blueviolet;
  margin-left: 4rem;
  margin-top: 3rem;
  padding: 2rem;
}

/* ------------------------------
// PARAGRAPHS */
.paragraphs {
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: aliceblue;
  border: 2px solid rebeccapurple;
  width: 70%;
  height: 50%;
  margin-left: 4rem;
  padding: 2rem;
}

/* .text {
  padding: 0.2rem;
} */

.landing-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coder-guy {
  width: 100%;
  border: 2px solid lightcyan;
  margin-top: 3rem;
  padding: 2rem;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin-left: 4rem;
  padding: 2rem;
  border: 1px solid cadetblue;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.btn {
  /* font-family: 'Lato', sans-serif; */
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: aliceblue;
  background-color: #ff7370; /* #FF7370 */
  padding: 1.5rem;
  width: 70%;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-me {
  border: none;
}

.contact-me:hover {
  background-color: #171820;
  border: 2px solid #ff7370;
}

.find-works:hover {
  background-color: #ff7370;
  border: none;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.find-works {
  background-color: #171820;
  border: 2px solid #ff7370;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3rem;
}

.icons {
  width: 2rem;
  height: 5rem;
  fill: #ccc;
  transition: all 0.2s;
}

.icons:hover {
  fill: #adaaa8;
  transform: translateY(-2px);
}

.icons:active {
  fill: #adaaa8;
  transform: translateY(-1px);
}

/* ------------------------------
// FOOTER */
.footer {
  background-color: #2b2c3b;
  width: 100%;
  height: 8rem;
}
