@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --color-60-dark: #171820;
  --color-60-medium-dark: #1c1d26;
  --color-text: #edfdee;
  --btn-primary: #ff6663;
  --btn-light: #ff7370; /* #fd5e53  #ff706d #ff7370 primary */
  --icon-color: #ccc;
  --icon-color-hover: #edfdee;

  --bp-largest: 75em; /* 1200/16 = 75 */
  --bp-large: 68.75em; /* 1100/16 = 68.75 */
  --bp-medium: 56.25em; /* 900/16 = 65.25 */
  --bp-small: 37.5em; /* 600/16 = 37.5 */
  --bp-smallest: 31.25em; /* 500/16 = 31.25 */
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media (max-width: 1100px) {
    font-size: 56.25%;
  }

  @media (max-width: 1040px) {
    font-size: 37.5%;
  }

  @media (max-width: 900px) {
    font-size: 31.25%;
  }
}

body {
  background-color: #171820;
  font-family: 'Georama', sans-serif;
  background: radial-gradient(
      circle,
      transparent 20%,
      var(--color-60-dark) 0,
      var(--color-60-dark) 80%,
      transparent 0,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--color-60-dark) 0,
        var(--color-60-dark) 80%,
        transparent 0,
        transparent
      )
      35px 35px,
    linear-gradient(var(--color-60-medium-dark) 2.8000000000000003px, transparent 0) 0 -1.4000000000000001px,
    linear-gradient(
        90deg,
        var(--color-60-medium-dark) 2.8000000000000003px,
        var(--color-60-dark) 0
      ) -1.4000000000000001px 0;

  background-size: 70px 70px, 70px 70px, 35px 35px, 35px 35px;
}

.container {
  width: 68%;
  margin: auto;
  display: flex;
  padding: 2rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

/* ------------------------------
// HEADING */
.heading {
  font-family: 'Gugi', cursive;
  font-weight: 600;
  font-size: 7.5rem;
  color: var(--color-text);
  width: 100%;
  letter-spacing: 0.1rem;
}

/* ------------------------------
// PARAGRAPHS */
.my-name {
  color: var(--btn-primary);
  font-size: 3.5rem;
}

.paragraphs {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-text);
  width: 100%;
  line-height: 1.75;
  margin: 2rem 0;
}

/* ------------------------------
// BUTTONS */
.call-to-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 75%;
}

.btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.3px;
  padding: 1.8rem;
  width: 100%;
  border-radius: 0.4rem;
  text-transform: uppercase;
  margin: 1rem 0;
  transition: all 0.2s ease-in-out;
}

.contact-me {
  background-color: var(--btn-primary);
  color: var(--color-text);
  border: none;
}

.find-works {
  color: var(--btn-primary);
  border: 2px solid currentColor;
  background-color: transparent;
}

.find-works:first-child {
  margin-right: 0.2rem;
}

/* ------------------------------
// HOVERS FOR BUTTON */
.btn:hover {
  cursor: pointer;
}

.contact-me:hover {
  background-color: var(--btn-light);
}

/* ------------------------------
// LINKS */
.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3rem;
}

.icons {
  width: 2rem;
  height: 2rem;
  fill: var(--icon-color);
  transition: all 0.2s ease-in;
}

/* ------------------------------
// HOVERS FOR LINKS */
.icons:hover {
  fill: var(--icon-color-hover);
  cursor: pointer;
  transform: scale(1.2);
}

.icons:active {
  fill: var(--icon-color-hover);
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coder-guy {
  width: 100%;
  /* height: 100%; */
  margin-top: 3rem;
  padding: 2rem;
  object-position: center center;
  object-fit: cover;
}

/* ------------------------------
// FOOTER */
.footer {
  background-color: #2b2c3b;
  width: 100%;
  height: 8rem;
  text-align: center;
  vertical-align: middle;
  line-height: 8rem;
  color: var(--color-text);
  font-size: 1.8rem;
}

/* ------------------------------
// MEDIA QUERIES */
@media (max-width: 1100px) {
  .container {
    width: 75%;
  }

  .heading {
    font-size: 6rem;
  }

  .my-name {
    color: var(--btn-primary);
    font-size: 3rem;
  }

  .paragraphs {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color-text);
    width: 100%;
    line-height: 1.75;
    margin: 2rem 0;
  }

  .buttons {
    width: 60%;
  }

  .btn {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    padding: 1.4rem;
    width: 90%;
    border-radius: 0.3rem;
    margin: 0.8rem 0;
  }

  .icons {
    width: 1.8rem;
    height: 1.8rem;
  }

  .footer {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  .container {
    width: 86%;
  }

  .heading {
    font-size: 4.5rem;
  }

  .my-name {
    color: var(--btn-primary);
    font-size: 2.5rem;
  }

  .paragraphs {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color-text);
    width: 100%;
    line-height: 1.75;
    margin: 2rem 0;
  }

  .buttons {
    width: 54%;
  }

  .btn {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem;
    width: 90%;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
  }

  .icons {
    width: 1.4rem;
    height: 1.4rem;
  }

  .footer {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.2rem;
  }
}
