* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #171820;
}

.container {
  height: 95%;
  width: 95%;
  border: 2px solid orangered;
  margin: auto;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

/* ------------------------------
// HEADING */
.heading {
  font-family: 'Gugi', cursive;
  font-weight: 400;
  font-size: 10rem;
  color: aliceblue;
  width: 93%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  border: 2px solid blueviolet;
  margin-left: 4rem;
  margin-top: 3rem;
  padding: 2rem;
}

/* ------------------------------
// PARAGRAPHS */
.paragraphs {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: aliceblue;
  border: 2px solid rebeccapurple;
  width: 70%;
  height: 50%;
  margin-top: 1.5rem;
  margin-left: 4rem;
  padding: 2rem;
}

/* .text {
  padding: 0.2rem;
} */

.landing-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coder-guy {
  width: 100%;
  border: 2px solid lightcyan;
  margin-top: 3rem;
  padding: 2rem;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin-top: 1.5rem;
  margin-left: 4rem;
  padding: 2rem;
  border: 1px solid cadetblue;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.btn {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  color: aliceblue;
  background-color: #ff7370; /* #FF7370 */
  padding: 1.5rem;
  width: 85%;
  border-radius: 1rem;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3rem;
}

.icons {
  width: 2rem;
  height: 5rem;
  fill: #ccc;
}

/* ------------------------------
// FOOTER */
.footer {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}
